__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
appAuth/migrations/
appAuth/__pycache__/
appTramite/migrations/
appTramite/__pycache__/
tramites/__pycache__/
dist/
.git/
*.sqlite3
media/
staticfiles/
*.log
.env
.DS_Store
Thumbs.db
