{% extends "main/base.html" %}
{% block title %}Detalle Tarea: {{ tarea.titulo_tarea }}{% endblock %}

{% block content %}
<h1 class="mb-4">Detalle de la Tarea</h1>
<div class="card">
    <div class="card-header">
        <h5 class="card-title">{{ tarea.titulo_tarea }} (Posición: {{ tarea.posicion_tarea }})</h5>
    </div>
    <div class="card-body">
        <p><strong>BPM Asociado:</strong> <a href="{% url 'bpm_detail' pk=tarea.bpm_tarea.pk %}">{{ tarea.bpm_tarea.titulo_bpm }}</a></p>
        <p><strong>Unidad Revisora:</strong> {{ tarea.unidad_tarea.nombre_grupo }}</p>
        <p><strong>Usuarios Revisores:</strong> 
            {% for user in tarea.usuario_tarea.all %}
                {{ user.get_full_name|default:user.username_usuario }}
            {% empty %}
                N/A
            {% endfor %}
        </p>
        <p><strong>Observación:</strong> {{ tarea.observacion_tarea|default:"Sin observación" }}</p>
        <p><strong>Requiere Documento:</strong> 
            {% if tarea.documento_tarea %}
                <span class="badge bg-success">Sí</span>
            {% else %}
                <span class="badge bg-danger">No</span>
            {% endif %}
        </p>
        <p><strong>Fecha de Creación:</strong> {{ tarea.fecha_tarea }}</p>
        <hr>
        <a href="{% url 'tarea_update' pk=tarea.pk %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'tarea_list' %}" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>
{% endblock %}